@import url("./vars.css");
@import url("./nprogress.css");

.vp-doc h2 {
  margin-top: 32px;
}

.vp-doc div[class*="language-"] {
  margin: 16px 0;
  border-radius: 4px;
}

.vp-doc div[class*="language-"] pre {
  margin-left: -8px;
  padding: 16px 0;
}

.vp-code-group .tabs {
  margin-left: 0;
  margin-right: 0;
}
