:root {
  --vp-c-text-light-1: #333;

  --vp-c-brand: #eb6552;
  --vp-c-brand-light: #ff8d76;
  --vp-c-brand-lighter: #ffb59b;
  --vp-c-brand-dark: #be3e31;
  --vp-c-brand-darker: #921111;
  --vp-c-brand-next: #8b9715;
}

.dark {
  --vp-c-bg: #1d1f21;
}
